@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --pm-lt-cyan: hsl(193, 38%, 86%);
  --pm-neon-green: hsl(150, 100%, 66%);
  --nt-gr-blue: hsl(217, 19%, 38%);
  --nt-dk-blue: hsl(217, 19%, 24%);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--nt-gr-blue);
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  width: 90%;
  max-width: 500px;
  text-align: center;
  background-color: var(--nt-dk-blue);
  color: var(--pm-lt-cyan);
  padding: 2.5rem 1rem;
  border-radius: 1rem;
  padding-bottom: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.advice-number {
  width: 100%;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: var(--pm-neon-green);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice-text {
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: block;
}

.num {
  display: block;
}

.hide-text {
  display: none;
}

.btn {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  background-color: var(--pm-neon-green);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  border: none;
  outline: none;
}

.btn:hover {
  box-shadow: 2px 2px 64px 5px var(--pm-neon-green);
  -webkit-box-shadow: 2px 2px 64px 5px var(--pm-neon-green);
  -moz-box-shadow: 2px 2px 64px 5px var(--pm-neon-green);
}

.btn:focus {
  outline: 2px solid black;

  box-shadow: 2px 2px 64px 5px var(--pm-neon-green);
  -webkit-box-shadow: 2px 2px 64px 5px var(--pm-neon-green);
  -moz-box-shadow: 2px 2px 64px 5px var(--pm-neon-green);
}

.btn:active {
  transform: scale(0.9) translateX(-50%);
}

/* rotate dice while fetching data */

.loading-dice {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.divider-pattern-desktop {
  display: none;
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--pm-lt-cyan);
}

.attribution a {
  color: var(--pm-neon-green) !important;
}

.skeleton-body {
  display: none;
  width: 90%;
  margin: 0 auto;
  margin-block: 1rem;
}

.show-skeleton {
  display: block !important;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-green {
  display: none;
}

.skeleton-text {
  width: 100%;
  height: 0.85rem;
  margin-block: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;
}

.skeleton-green {
  width: 2rem !important;
  height: 0.75rem;
  margin: 0;
  margin-left: 0.25rem;
  animation: skeleton-loading-green 1s linear infinite alternate;
}

.skeleton-text:nth-child(2) {
  width: 90%;
}

.skeleton-text:last-child {
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@keyframes skeleton-loading-green {
  0% {
    background-color: hsl(150, 100%, 66%);
  }

  100% {
    background-color: hsl(150, 100%, 86%);
  }
}

@media (min-width: 600px) {
  .divider-pattern-mobile {
    display: none;
  }
  .divider-pattern-desktop {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
}
